* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #000814;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #014f86, #5b548a);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
}

/* Styles for small screens */
@media (max-width: 768px) {
  .card {
    margin-top: 30px;
  }
  .weather h1 {
    font-size: 60px;
  }
  .weather h2 {
    font-size: 35px;
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 20px;
  height: 50px;
  border-radius: 25px;
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button img {
  width: 14px;
}

.weather-icon {
  width: 130px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 70px;
  font-weight: 500;
}

.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -8px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 40px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 30px;
  margin-right: 8px;
}

.humidity,
.wind {
  font-size: 24px;
  margin-top: -4px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 8px;
  display: none;
}
